{% extends "base.html" %} {% block title %}homepage{% endblock title %}
{% block content %}
<p>Hello {{user.username}}</p>
<div class="row justify-content-around">
    <div class="card" style="width: 18rem; margin-bottom: 2rem;">
        <div class="card-body">
            <h5 class="card-title">{{ data_surat_masuk }}</h5>
            <p class="card-text">Berikut adalah total surat masuk.</p>
            <a href="{% url 'surat:surat_masuk_list' %}" class="card-link">Lihat Surat Masuk</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-bottom: 2rem;">
        <div class="card-body">
            <h5 class="card-title">{{ data_surat_keluar }}</h5>
            <p class="card-text">Berikut adalah total surat keluar.</p>
            <a href="{% url 'surat:surat_keluar_list' %}" class="card-link">Lihat Surat Keluar</a>
        </div>
    </div>
</div>
{% endblock content %}